html {
    min-height: 100vh;
    position: relative;
}

main {
    padding: 56px 0;
}

footer {
    position: absolute;
    bottom: 0;
}

.header-img {
    margin-top: 56px;
    height:  500px;
    background-position: center 20%;
    background-size: cover;
}

.header-img h1,  .header-img h2 {
    background: rgba(0, 0, 0, 0.3)
}

#preview a {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-100%);
    background-color: rgba(0, 0, 0, 0.47);
}